{% load static %}
<!DOCTYPE html>
<html lang="zh-hans">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>风控管理 - {% block error_code %}{% endblock %}</title>
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">
    <link href="/admin/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/admin/static/css/main.css" rel="stylesheet">
</head>
<body class="extra-main-bg">
    <div class="extra-error-page-content">
        <h1>{% block error_code_title %}200{% endblock %}</h1>
        <h3 class="font-bold">{% block error_code_title_zh %}空白页面{% endblock %}</h3>
        <div class="extra-error-desc">{% block error_code_desc %}这一个空白页面{% endblock %}</div>
        <a href="/" class="btn btn-primary m-t">主页</a>
    </div>
</body>
</html>
