{% load django_tables2 %}

{% if table.context.is_paginated %}
    <nav class="soc-pagination">
        <div class="page-show soc-pagination-numbers">
            <ul class="pagination  pagination-sm">
                {% block table.context.pagination.previous %}
                    {% if table.context.page_obj.has_previous %}
                        <li class="page-item">
                            <a class="page-link"
                               href="{% querystring table.prefixed_page_field=table.context.page_obj.previous_page_number %}"
                               tabindex="-1" aria-disabled="true">上一页</a>
                        </li>
                    {% endif %}
                {% endblock table.context.pagination.previous %}

                {% block table.context.pagination.cardinality %}
                    {% for page in table.context.pages %}
                        {% if page %}
                            {% ifequal page table.context.page_obj.number %}
                                <li class="page-item active" aria-current="page">
                                    <a class="page-link" href="#">{{ page }} <span class="sr-only">(current)</span></a>
                                </li>
                            {% else %}
                                <li class="page-item">
                                    <a class="page-link"
                                       href="{% querystring table.prefixed_page_field=page %}">{{ page }}</a>
                                </li>
                            {% endifequal %}
                        {% else %}
                            <li class="page-item">
                                <a class="page-link" href="#">...</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                {% endblock table.context.pagination.cardinality %}

                {% block table.context.pagination.next %}
                    {% if table.context.page_obj.has_next %}
                        <li class="page-item">
                            <a class="page-link"
                               href="{% querystring table.prefixed_page_field=table.context.page_obj.next_page_number %}">
                                下一页
                            </a>
                        </li>
                    {% endif %}
                {% endblock table.context.pagination.next %}
            </ul>
        </div>

        <div class="goto soc-pagination-goto" id="goto">
            <div class="input-group">
                <input type="text" class="form-control" id="soc-go-page-input"
                       placeholder="页码" aria-describedby="soc-go-page-btn">
                <div class="input-group-append">
                    <button class="btn btn-primary-soft" type="button" id="soc-go-page-btn">
                        跳页
                    </button>
                </div>
            </div>
        </div>

        <div class="count-container">
            <select name="count" class="form-control" id="soc-change-page-size">
                {% for value in table.context.page_values %}
                    <option value="{{ value }}" {% if value == request.GET.page_size %}
                            selected {% endif %}>每页{{ value }}条数据</option>
                {% endfor %}
            </select>
        </div>
    </nav>
{% endif %}
